.landing {
    background-image: linear-gradient( rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 100%), url(https://d28z2mkpklymta.cloudfront.net/8.4.4/img/above-login/seo-landing/yoga-online-hero.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.landing__header {
    position: fixed;
    top: 0;
    width: 73.8%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0 200px;
    height: 112px;
    align-items: center;
    transition: all 0.2s;
}

.scrolled {
    background-color: #fff;
    color: #000 !important;
}

.header__logo {
    color: #ffffff;
    transition: all 0.2s;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.landing__content {
    margin: 100px 200px;
    padding-top: 80px;
    color: #ffffff;
}

.content__title {
    font-weight: normal;
    font-size: 56px;
    line-height: 70px;
    letter-spacing: 1px;
    max-width: 530px;
}

.content__subtitle {
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-top: 40px;
    max-width: 400px;
}

.content__button {
    margin-top: 40px;
    margin-left: 0 !important;
}

.btn {
    font-weight: 700;
    display: inline-block;
    padding: 12px 24px;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    list-style: none;
    transition: all 0.2s ease-in;
}

.light {
    background-color: transparent;
    transition: all 0.2s;
}

.light:hover {
    text-decoration: underline;
}

.dark {
    border-radius: 24px;
    background-color: #1e1e28;
    border: 1px solid #1e1e28;
    box-sizing: border-box;
    margin-left: 20px;
}

.dark:hover {
    background-color: #000;
}